// base
@import "./base/variables";
@import "./base/mixins";
@import "./base/fonts";
@import "./base/icons"; 
@import "./base/zeroing";
@import "./base/burger";
// @import "./base/popup";
@import "./base/select";
@import "./base/burger";
@import "./base/ui";
// libs
@import "./libs/swiper-bundle.min";
// blocks
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/hero";
@import "./blocks/partners";


// global styles
._container {
	max-width: $width + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

::-webkit-scrollbar{
	width: 16px;
}
::-webkit-scrollbar-thumb{
	background: $blue;
	border-radius: 8px;
	border: 2px solid #fff;
}
::-webkit-scrollbar-track{
	background: #fff;
}

body{
	&._lock{
		overflow: hidden;
	}
}

// media
@import "./base/media";