.hero {
    min-height: 100vh;
    display: flex;

		&__container {
         flex: 1 1 auto;
         display: flex;
         align-items: center;
		}

      &__body{
         position: relative;
         flex: 1 1 auto;
         padding: 0px 0 50px 0;
         @include adaptiv-value('margin-top', 215, 100, 1);
         @include adaptiv-value('margin-bottom', 100, 40, 1);

         @media (max-width: $md2+px){
            padding: 0;
         }
      }

		&__main {
         max-width: 558px;
         @media (max-width: $md2+px){
            max-width: none;
         }
		}

		&__title {
         font-weight: 600;
         @include adaptiv-value('font-size', 61, 30, 1);
         line-height: 120%;
         color: #030A1B;
         @include adaptiv-value('margin-bottom', 30, 15, 1);

		}

		&__subtitle {
         font-weight: 500;
         @include adaptiv-value('font-size', 18, 14, 1);
         line-height: 150%;
         color: #4F545F;
         @include adaptiv-value('margin-bottom', 40, 15, 1);
		}

		&__tabs {
		}

		&__img {
         position: absolute;
         right: 0;
         bottom: 0;
         width: 42%;
         height: auto;
         border-radius: 10px;
         overflow: hidden;
         z-index: -1;

         @media (max-width: $md2+px){
            display: none;
         }

         img{
            width: 100%;
            height: auto;
            object-fit: contain;
         }
		}
}

.tabs-hero {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   	&__menu {
         display: flex;
         align-items: center;
         padding: 15px 30px;
         box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
         position: relative;
          &:before{
            content: '';
            width: 100%;
            height: 100%;
            background: $white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            border-radius: 5px 5px 0 0;
         }
		}

		&__tab {
         font-weight: 500;
         font-size: 18px;
         color: #4F545F;
         transition: all .3s ease-in-out;
         position: relative;
         z-index: 4;
         cursor: pointer;

         &:not(:last-child){
           margin: 0px 45px 0px 0px;
         }

         @media(any-hover: hover){
            &:hover{
               color: $orange;
            }
         }

         &._active{
            color: $orange;
         }
		}

      &__blocks{
         @media (max-width: $md2+px){
            width: 100%;
         }
      }

		&__block {
         display: none;
         align-items: center;
         background: $white;
         box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
         padding: 30px;
         position: relative;
         border-radius: 0px 5px 5px 5px;

         @media (max-width: $md2+px){
            width: 100%;
         }

         &._active{
            display: flex;
         }

         @media (max-width: $md3+px){
            flex-direction: column;
            align-items: flex-start;
         }
		}

		&__select {
         position: relative;
         &:not(:last-child){
           margin: 0px 55px 0px 0px;
           padding: 0px 55px 0px 0px;

           @media (max-width: $md1+px){
               margin: 0px 40px 0px 0px;
               padding: 0px 40px 0px 0px;
           }

         @media (max-width: $md2+px){
               margin: 0px 30px 0px 0px;
               padding: 0px 30px 0px 0px;
           }
         
         @media (max-width: $md3+px){
            margin: 0px 0px 30px 0px;
            padding: 0;
         }
           

            &:before{
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              background: #CFD1D4;
              width: 1px;
              height: 35px;
              transform: translateY(-50%);

               @media (max-width: $md3+px){
                  display: none;
               }
           }
         }
		}

      &__search{
         flex: 1 1 auto;
         display: flex;
         align-items: center;
         justify-content: flex-end;
      }

		&__btn {
         background: $blue;
         border-radius: 10px;
         padding: 15px 20px;
         font-weight: 500;
         font-size: 16px;
         line-height: calc(24 / 16);
         color: #FFFFFF;
         display: flex;
         align-items: center;
         transition: all .3s ease-in-out;

          &:before{
            margin: 0px 10px 0px 0px;
         }

         @media(any-hover: hover){
            &:hover{
               background: darken($blue, 10%);
            }
         }
		}
}
