// colors
$white: #fff;
$blue: #2E6EFF;
$orange: #FE753F;
// main font
$fontFamily: 'Poppins', sans-serif;
// sizes
$width: 1146;
$minWidth: 320px;
$maxWidth: 1600;
$md1: $width + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;